extends layout

block content
  .container-fluid
  .row
    .col-md-12
      h3
        | HN FEED
      h3
        | We <3 hacker news!
block news
  //- ul
  //- each val in news
  //-   li= val
  .row
    .col-md-12
      table.table        
        each val in news
          tr
            if val.title                
              td
                if !val.story_url 
                  a(href=val.url)=val.title
                else
                  a(href=val.story_url)=val.title
            else if val.story_title
              td                
                if !val.story_url 
                  a(href=val.url)=val.story_title
                else
                  a(href=val.story_url)=val.story_title
            td=moment(val.created_at).calendar()
            td
              span.glyphicon.glyphicon-trash(href='/deleteArticle?id='+val.objectID)

